# Fun Mini Project

## Tejaswani Yadav, Akshat Shah, Harsh Shah

Social Media Platform

Question 1: Finding the Eldest Person and the Youngest Person with his/her age and knowing the choice of Social Media.

Question 2: Find the number of male and female users for each social media platform.

Question 3: What is the total screen time for a user and which social media platform has the most screen time?

Question 4: Which social media platform has the most number of users? (Top 3)

Question 5: Highest rating of social media platforms

In [73]:
# Importing the libraries required
from py2neo import Graph
from py2neo import Node
from py2neo import Relationship
import pandas as pd

In [74]:
# Creating the Server and allocating the UserName and Password  
graph = Graph("bolt://100.24.20.213:7687", user="neo4j", password="candidates-plans-lighter")

**Social Media Platform Nodes**

In [75]:
# Creating Social Media Nodes for Each Platform and giving them title with the tagline of each platform 
Instagram = Node("Social_Media", title="Instagram", tagline="Capture and Share the World's Moments")
Facebook = Node("Social_Media", title="Facebook", tagline="It's quick and easy")
WhatsApp = Node("Social_Media", title="WhatsApp", tagline="Hey there, I am using WhatsApp")
SnapChat = Node("Social_Media", title="SnapChat", tagline="THe fastest way to share a moment")
Youtube = Node("Social_Media", title="Youtube", tagline="Broadcast Yourself")
Twitter = Node("Social_Media", title="Twitter", tagline="Here, your voice matters")
LinkedIn = Node("Social_Media", title="LinkedIn", tagline="Sum up your Professional brand")

**User Nodes**

In [76]:
# Creating Nodes Of Person and Assigning them Name, Date of Birth, Country Name and their Gender
Babita = Node("Person", name="Babita Gada", dob=1996, country="India", sex="Female")
Tapu = Node("Person", name="Tipendra Gada", dob=2002, country="India", sex="Male")
Tarak = Node("Person", name="Tarak Mehta", dob=1989, country="India", sex="Male")
Iyer = Node("Person", name="Krishnan Iyer", dob=1978, country="India", sex="Male")
Kaka = Node("Person", name="Natu Kaka", dob=1965, country="India", sex="Male")
Daya = Node("Person", name="Daya Jethalal", dob=1988, country="India", sex="Female")
Bagha = Node("Person", name="Bagha", dob=2001, country="India", sex="Male")
Peg = Node("Person", name="Peg Legge", dob=2006, country="India", sex="Male")
Isabelle = Node("Person", name="Isabelle Ringing", dob=2005, country="India", sex="Female")
Anne = Node("Person", name="Anne Teak", dob=2001, country="USA", sex="Female")
Rose = Node("Person", name="Rose Bush", dob=1998, country="USA", sex="Female")
Melody = Node("Person", name="Melody Sunshine", dob=1999, country="USA", sex="Male")
Chew = Node("Person", name="Chew Mee ", dob=1999, country="USA", sex="Male")
Abhijit = Node("Person", name="Abhijit Singh ", dob=1980, country="India", sex="Male")
ACP = Node("Person", name="ACP Pradyuman ", dob=1960, country="India", sex="Male")
Tarika = Node("Person", name="DR Tarika ", dob=1986, country="India", sex="Female")
Purvi = Node("Person", name="Purvi Sayed ", dob=1988, country="India", sex="Female")
Shreya = Node("Person", name="Shreya Chedda", dob=1985, country="India", sex="Female")
Salunkhe = Node("Person", name="Dr R.P. Salunkhe ", dob=1965, country="India", sex="Male")
Fredricks = Node("Person", name="Fredricks ", dob=1975, country="India", sex="Male")
Sachin = Node("Person", name="Inspector Sachin", dob=1987, country="India", sex="Male")
Nikhil = Node("Person", name="Inspector Nikhil ", dob=1990, country="India", sex="Male")

**Creating**

In [77]:
# Ploting the Social Media Nodes into the graph
graph.create(Instagram | Facebook | WhatsApp | SnapChat | Youtube | Twitter | LinkedIn)
# Ploting the Person Nodes into the graph
graph.create(Babita | Tapu | Tarak | Iyer | Kaka | Daya | Bagha | Peg | Isabelle | Anne | Rose|Melody|Chew|Abhijit|ACP|Tarika
             |Purvi|Shreya|Salunkhe|Fredricks|Sachin|Nikhil)

**Relationship between Social Media Platform Nodes and User Nodes**

In [78]:
# Providing the relationship of a person to social Media Platforms 
graph.create(Relationship(Tarak, "Uses", SnapChat, joinedyear=2014, screentime=47, rating=3))
graph.create(Relationship(Iyer, "Uses", LinkedIn, joinedyear=2010, screentime=64, rating=5))
graph.create(Relationship(Iyer, "Uses", Twitter, joinedyear=2013, screentime=60, rating=4.6))
graph.create(Relationship(Kaka, "Uses", Facebook, joinedyear=2019, screentime=97, rating=4.5))
graph.create(Relationship(Daya, "Uses", Facebook, joinedyear=2018, screentime=20, rating=3))
graph.create(Relationship(Bagha, "Uses", Facebook, joinedyear=2016, screentime=69, rating=4.9))
graph.create(Relationship(Peg, "Uses", Facebook, joinedyear=2013, screentime=94, rating=1))
graph.create(Relationship(Peg, "Uses", LinkedIn, joinedyear=2011, screentime=34, rating=4.8))
graph.create(Relationship(Isabelle, "Uses", Youtube, joinedyear=2008, screentime=104, rating=4.6))
graph.create(Relationship(Isabelle, "Uses", Twitter, joinedyear=2016, screentime=24, rating=1.8))
graph.create(Relationship(Isabelle, "Uses", Instagram, joinedyear = 2014, screentime = 120, rating = 4.8))
graph.create(Relationship(Anne, "Uses", Youtube, joinedyear=2009, screentime=14, rating=5))
graph.create(Relationship(Anne, "Uses", SnapChat, joinedyear=2013, screentime=36, rating=3.8))
graph.create(Relationship(Anne, "Uses", LinkedIn, joinedyear=2017, screentime=20, rating=4))
graph.create(Relationship(Babita, "Uses", Facebook, joinedyear=2016, screentime=30, rating=2))
graph.create(Relationship(Babita, "Uses", WhatsApp, joinedyear=2016, screentime=70, rating=3))
graph.create(Relationship(Babita, "Uses", Instagram, joinedyear=2012, screentime=150, rating=4.9))
graph.create(Relationship(Tapu, "Uses", WhatsApp, joinedyear=2018, screentime=100, rating=4))

graph.create(Relationship(Daya, "Uses", WhatsApp, joinedyear=2010, screentime=25, rating=5))
graph.create(Relationship(Tapu, "Uses", WhatsApp, joinedyear=2011, screentime=10, rating=4))
graph.create(Relationship(Bagha, "Uses", WhatsApp, joinedyear=2012, screentime=15, rating=5))
graph.create(Relationship(Kaka, "Uses", WhatsApp, joinedyear=2013, screentime=30, rating=4))
graph.create(Relationship(Peg, "Uses", WhatsApp, joinedyear=2014, screentime=35, rating=5))
graph.create(Relationship(Iyer, "Uses", WhatsApp, joinedyear=2015, screentime=40, rating=4))
graph.create(Relationship(Isabelle, "Uses", WhatsApp, joinedyear=2016, screentime=45, rating=5))
graph.create(Relationship(Anne, "Uses", WhatsApp, joinedyear=2017, screentime=50, rating=4))
graph.create(Relationship(Tarak, "Uses", WhatsApp, joinedyear=2018, screentime=55, rating=5))

graph.create(Relationship(Abhijit, "Uses", Instagram, joinedyear=2018, screentime=80, rating=5))
graph.create(Relationship(ACP, "Uses", Twitter, joinedyear=2014, screentime=20, rating=3))
graph.create(Relationship(Tarika, "Uses", Instagram, joinedyear=2015, screentime=130, rating=4))
graph.create(Relationship(Purvi, "Uses", Instagram, joinedyear=2017, screentime=100, rating=4))
graph.create(Relationship(Shreya, "Uses", Instagram, joinedyear=2018, screentime=40, rating=4))
graph.create(Relationship(Salunkhe, "Uses", LinkedIn, joinedyear=2019, screentime=10, rating=3))
graph.create(Relationship(Fredricks, "Uses", Youtube, joinedyear=2013, screentime=30, rating=3))
graph.create(Relationship(Sachin, "Uses", Youtube, joinedyear=2010, screentime=40, rating=4))
graph.create(Relationship(Nikhil, "Uses", Instagram, joinedyear=2012, screentime=50, rating=5))




graph.create(Relationship(Tapu, "Uses", Facebook, joinedyear=2017, screentime=43, rating=2))
graph.create(Relationship(Rose, "Uses", Twitter, joinedyear=2012, screentime=84, rating=4))
graph.create(Relationship(Rose, "Uses", LinkedIn, joinedyear=2014, screentime=134, rating=1))
graph.create(Relationship(Rose, "Uses", Youtube, joinedyear=2014, screentime=64, rating=4.8))
graph.create(Relationship(Melody, "Uses", Twitter, joinedyear=2010, screentime=54, rating=2.9))
graph.create(Relationship(Melody, "Uses", SnapChat, joinedyear=2015, screentime=76, rating=3.8))
graph.create(Relationship(Melody, "Uses", WhatsApp, joinedyear=2019, screentime=87, rating=2.6))
graph.create(Relationship(Chew, "Uses", Facebook, joinedyear=2017, screentime=29, rating=4.9))
graph.create(Relationship(Chew, "Uses", SnapChat, joinedyear=2018, screentime=48, rating=2.8))
graph.create(Relationship(Chew, "Uses", WhatsApp, joinedyear=2009, screentime=86, rating=1.6))

**Queries**

**Query 1: Which social media platform has the most number of users? (Top 3)**

In [80]:
query1 = """
MATCH (p:Person)-[]->(s:Social_Media)
RETURN s.title, COUNT(*) AS Users
ORDER BY Users DESC
LIMIT 3
"""

data1 = graph.run(query1)
for d in data1:
    print(d)

'WhatsApp'	12
'Facebook'	7
'Instagram'	7

**Query 2: What is the total screen time for a user and which social media platform has the most screen time?**

In [107]:
query2 = """
MATCH (p:Person)-[r]->(s:Social_Media)
RETURN DISTINCT p.name AS Name, s.title,SUM(r.screentime) AS Total
ORDER BY Total DESC
LIMIT 10
"""

data2 = graph.run(query2)
df = pd.DataFrame(data2)
for d in data2:
    print(d)

In [108]:
df

                  0          1    2
0       Babita Gada  Instagram  150
1         Rose Bush   LinkedIn  134
2        DR Tarika   Instagram  130
3  Isabelle Ringing  Instagram  120
4  Isabelle Ringing    Youtube  104
5      Purvi Sayed   Instagram  100
6         Natu Kaka   Facebook   97
7         Peg Legge   Facebook   94
8   Melody Sunshine   WhatsApp   87
9         Chew Mee    WhatsApp   86

**Query 3: Highest rating of social media platforms**

In [82]:
query3 = """
MATCH (p:Person)-[r]->(s:Social_Media)
RETURN s.title AS Title, AVG(r.rating) AS Rating
ORDER BY Rating DESC
"""

data3 = graph.run(query3)
for d in data3:
    print(d)

'Instagram'	4.5285714285714285
'Youtube'	4.28
'WhatsApp'	4.016666666666667
'LinkedIn'	3.5599999999999996
'SnapChat'	3.3499999999999996
'Twitter'	3.2600000000000002
'Facebook'	3.185714285714286

**Query 4: Finding the Eldest Person and the Youngest Person with his/her age and knowing the choice of Social Media.**

In [112]:
query4 = """
MATCH (p:Person)-[r]->(s:Social_Media)
SET p.Name = 'Eldest Person :'
RETURN p.Name, p.name AS Name, 2022-p.dob AS Age, s.title
ORDER BY Age DESC
LIMIT 1
UNION ALL
MATCH (p:Person)-[r]->(s:Social_Media)
SET p.Name = 'Youngest Person: '
RETURN p.Name ,p.name AS Name, 2022-p.dob AS Age, s.title
ORDER BY Age
LIMIT 1
"""

data4 = graph.run(query4)
for d in data4:
    print(d)

'Eldest Person :'	'ACP Pradyuman '	62	'Twitter'
'Youngest Person: '	'Peg Legge'	16	'WhatsApp'

**Query 5: Find the number of male and female users for each social media platform.**

In [94]:
query5 = """
MATCH (p:Person)-[r]->(s:Social_Media)
WHERE p.sex="Male"
SET p.surname = 'Male'
RETURN s.title, COUNT(*),p.surname AS count
ORDER BY count DESC
UNION ALL
MATCH (p:Person)-[r]->(s:Social_Media)
WHERE p.sex="Female"
SET p.surname = 'Female'
RETURN s.title, COUNT(*),p.surname AS count
ORDER BY count DESC
"""

data5 = graph.run(query5)
for d in data5:
    print(d)

'WhatsApp'	8	'Male'
'Twitter'	3	'Male'
'LinkedIn'	3	'Male'
'Facebook'	5	'Male'
'SnapChat'	3	'Male'
'Youtube'	2	'Male'
'Instagram'	2	'Male'
'Instagram'	5	'Female'
'WhatsApp'	4	'Female'
'LinkedIn'	2	'Female'
'SnapChat'	1	'Female'
'Youtube'	3	'Female'
'Facebook'	2	'Female'
'Twitter'	2	'Female'

### Insights
#### Query 1: Which social media platform has the most number of users? (Top 3)
#### We will find the top 3 most used Platform by evaluating the number of users of a particular Social Media Platform.
####  
#### Query 2: What is the total screen time for a user and which social media platform has the most screen time?
#### Finding first  maximum 10 Screen time holders and displaying their Names of the person and  Social Media Platform.
#### 
#### Query 3: Highest rating of social media platforms
#### Displaying the Most Social Media Rating to the Least Social Media Rating By taking the average of the Rating of the Social Media rating given by the person.
#### 
#### Query 4: Finding the Eldest Person and the Youngest Person with his/her age and knowing the choice of Social Media.
#### Discovering the Eldest perosn's and the youngest person's selection of social media along with their Age. 
#### 
#### Query 5: Find the number of male and female users for each social media platform.
#### Organizing the most to least Male and Female users of Social Media to evaluate the different choice of Platforms in different Genders.